body {
    background-image: url(../images/Background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1,
h2 {
    text-align: center;
}

.main-container {
    border: 2px dashed red;
}

.container--auth {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.search-bar-spacing {
    margin-bottom: 10px;
}

.title-bar {
    font-weight: bold;
}

.form--demo {
    background-color: white;
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.navbar-default {
    background: yellow;
}

.Logo {
    width: 70%;
}

.dropdown-menu {
    align-content: right;
}

.search {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.submit {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    text-align: left;
}

.btn-default dropdown-toggle {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    text-align: left;
}

h4 {
    color: green;
}
