body {
    background-image: url(../images/Background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

h1,
h2 {
    text-align: center;
}

.main-container {
    border: 2px dashed red;
}

.container--auth {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.search-bar-spacing {
    margin-bottom: 10px;
}

.title-bar {
    font-weight: bold;
}


.form--demo {
    background-color: white;
    border: 2px solid #ccc;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.navbar-default {
    background: #FFEB3B;
}

.Logo {
    width: 70%;
}

.dropdown-menu {
    align-content: right;
}

.search {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.submit {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    text-align: left;
}

.btn-default dropdown-toggle {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    text-align: left;
}

h4 {margin-top: 75px;
    margin-left:85px;
    color: black;
}
.whole {
color:grey; 
font-size: 26px; 
background-color: #efefef;
margin: 100px 100px 0px 100px;


}
#footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:60px;
   width:100%;
   background: #424242;

     /* Height of the footer */

}

table {
    width:60%;
    color: black;
    background: #FFEB3B;
    font-weight: bold;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.footer{
    margin-left: 0px;
    margin-right: 0px;
    color: black;
    background-color: #424242;
}
