body {
  background-color: lavender; }

h1, h2 {
  text-align: center; }

.main-container {
  border: 2px dashed white; }

.container--auth {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  border: 2px solid #ccc; }

.search-bar-spacing {
  margin-bottom: 20px; }

.title-bar {
  font-weight: bold; }

.form--demo {
  background-color: white;
  border: 2px solid #ccc;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px; }


.elegant-aero {
  margin-left:auto;
  margin-right:auto;
  margin-top: 25px;
  max-width: 600px;
  background: #D2E9FF;
  padding: 20px 20px 20px 20px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
}

.elegant-aero label {
  display: block;
  margin: 0px 0px 5px;
}

.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea {
  color: #888;
  width: 60%;
  padding: 0px 0px 0px 5px;
  border: 1px solid #C5E2FF;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
  box-shadow: inset 0px 1px 6px #ECF3F5;
  font: 200 12px/25px Arial, Helvetica, sans-serif;
  height: 30px;
  line-height:15px;
  margin: 2px 6px 16px 0px;
}

.elegant-aero textarea{
  height:100px;
  padding: 5px 0px 0px 5px;
  width: 60%;
}

div{
  display:inline-block;
  vertical-align:top;
  color: red;
  margin-top: 5px;
}
h4 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: green;
    text-align: left;
}