<div class="container-fluid top-level">
    <a class="brand logo" href="/"><strong>Good</strong>Rx</a>
    <ul class="nav nav-menu">
        <li class="dropdown navbar-drug-search">
            <div class="pos-relative" style="top: 10px;">
                <i class="ico ico-xs ico-search-black margin-right-xs pos-absolute op-40" style="top: 9px; left: 11px;"></i>
                <form action="/" method="post" id="form-nav-search">
                    <input id="drug-name" type="text" name="drug-name" class="drug-search nav-search autocomplete search-term margin-bot-none" style="padding-left: 30px;" placeholder="Search Drug Prices" data-provide="typeahead" autocomplete="off">
                    <input type="text" name="location" class="search-location nav-location nav-search-hidden" style="display: none; margin: 0 7px;" placeholder="City or ZIP code" value="Franklin, TN (37067)">
                    <button type="submit" class="btn btn-primary nav-search-hidden margin-top-none" id="form-nav-search-submit" style="display: none;">Find the Lowest Price</button>
                    <a href="#" class="btn btn-link nav-search-hidden margin-top-none nav-search-cancel" style="display: none; color: #444; padding: 4px 9px 4px 9px;">Cancel</a>
                </form>
            </div>
        </li>
    </ul>
    <ul class="nav nav-menu main-nav">
        <li><a href="/">My Rx</a></li>
        <li><a href="/mobile">Mobile App</a></li>
        <li class="nav-view-med"><a href="/discount-card">Discount Card</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						More
						<b class="caret"></b>
					</a>
            <ul class="dropdown-menu">
                <li class="nav-view-narrow"><a href="/discount-card">Discount Card</a></li>
                <li><a href="/conditions">Find Drugs by Condition</a></li>
                <li class="divider"></li>
                <li><a href="/brand">Inside Rx Brand Discounts</a></li>
                <li><a href="/pharmacy-near-me">Find Pharmacies Near Me</a></li>
                <li><a href="/pill-identifier">Pill Identifier</a></li>
                <li><a href="/medicare">GoodRx &amp; Medicare</a></li>
                <li><a href="/blog">New Drugs, Recalls &amp; More</a></li>
                <li class="divider"></li>
                <li><a href="/doctors">GoodRx for Doctors</a></li>
                <li><a href="/benefits">GoodRx for Benefits</a></li>
                <li><a href="/pets">GoodRx for Pets</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li><a href="/faq">Help</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle user-toggle" data-toggle="dropdown">
                <span>
							<i class="ico ico-m op-50 ico-profile-black"></i>
							<b class="caret"></b>
						</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/developer">Documentation</a></li>
                <li class="divider"></li>
                <li><a href="/developer/account">Developer Home</a></li>
                <li><a href="/settings">Settings</a></li>
                <li class="divider"></li>
                <li><a href="/developer/sign-out">Sign Out</a></li>
            </ul>
        </li>
    </ul>
</div>
