<h4>
Address: 500 Interstate Blvd S #300, <br>Nashville, TN 37210<br>
Phone:(615) 838-8188</h4>
<div class="container">
    <form action="mailto:preetikrp@gmail.com" method="post" enctype="text/plain">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
    </form>
</div>
