<div class="whole">
    <h1>Introduction</h1>
    <p>My Project is to find, compare and get information about search drugs. I am using GoodRx set of APIs for this project.
        <br>
        <p>It provides sticker price (means price uninsured customer will pay if they have no other discount available)</p>
        Here are the APIs I am using:
        <br>
        <p>The Fair Price API</p>
        <p>The Low-Price API</p>
        <p> The Price Comparison API</p>
        <p>The Drug Search APi</p>
        <p>The Drug Info API</p>
        <br>
        <p>The Fair Price API
            <br> This price represents the maximum price that a consumer, with or without insurance, should pay for this drug at a local pharmacy.</p>
        <br>
        <p>The Low-Price API
            <br> The Low-Price API provides the lowest cash price for a given prescription drug from a basket of nationwide pharmacy chains, including Walmart, CVS, Walgreens, RiteAid, and others. (These chains represent more than 80% of retail drug purchases in America.)</p>
        <br>
        <p>The Price Comparison API
            <br> The Price Comparison API provides the 3 lowest cash prices for a given prescription drug from a basket of nationwide pharmacy chains, including Walmart, CVS, Walgreens, RiteAid, and others. (These chains represent more than 80% of retail drug purchases in America.)</p>
        <p>The Drug Info API
            <br> This service provides form and dosage options for drugs on GoodRx. For when you need to specify the dosage or form of the drug you want to display low prices for, you can use the Drug Info API to retrieve the available options on GoodRx. Since dosages and forms can be represented in so many ways, this API will take the ambiguity out of guessing what's available and allow you to show all options for easier construction of the price calls available on the GoodRx API.</p>
        <p>The Drug Search API</p>
        <br>
        <p>This service queries the GoodRx drug database for the names of drugs available for pricing. Let's face it, there are sometimes 10 different ways to spell the name of a medication, ranging from the most medically specific to the common abbreviation for generic. The Drug Search API allows you to find the way the GoodRx API represents/spells the drug. Simply send it a string and the API will return the top five suggestions based on how close the query is to the name we use. You can even use it as a spell checker, for example changing "Liptor" to "Lipitor".</p>
        <br>
        <p> Drug Data
            <br> In addition to the APIs, sometimes GoodRx offers access to their data. If you would like to learn more, please contact them at info@goodrx.com.</p>
    </p>
</div>
