<nav ng-controller="navCtrl" class="navbar colorBG navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="Logo" src="images/Logo.JPG"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-show="!isLoggedIn" ng-href="#!/Home">
                        <font size="3">Home</font>
                    </a>
                </li>
                <li>
                    <a ng-show="isLoggedIn" ng-href="#!/Home">
                        <font size="3">Home</font>
                    </a>
                </li>
                <li>
                    <a ng-show="isLoggedIn" ng-href="#!/intro">
                        <font size="3">Introduction</font>
                    </a>
                </li>
                <li>
                    <a ng-show="!isLoggedIn" ng-href="#!/login">
                        <font size="3">Login</font>
                    </a>
                </li>
                <li>
                    <a ng-show="isLoggedIn" ng-href="#!/logout">
                        <font size="3">Logout</font>
                    </a>
                </li>
                <li>
                    <a ng-show="isLoggedIn" ng-href="#!/ContactUs">
                        <font size="3">ContactUs</font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
