<div class="input-group col-xs-6 col-xs-offset-3">
    <br>
    <br>
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
    <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchText.search">
</div>
<table ng-controller="myCtrl">
    <tr ng-repeat="(x,y) in myData">
        <td ng-if="x === 'data'">
            Data : {{ y }}
        </td>
    </tr>
</table>
