<center>
    <from>
        <div class="input-group search-bar">
            <input type="text" ng-model="search" ng-model-options="{ debounce: 900 }" onclick="select()" class="form-control" placeholder="Enter the drug name" autofocus />
            <select name="singleSelect" ng-model="singleSelect" class="form-control">
                <option value="">---Please select---</option>
                <option value="fp">Fair Price</option>
                <option value="cp">Compare Price</option>
                <option value="lp">Low Price</option>
                <option value="di">Drug Info</option>
                <option value="ds">Drug Search</option>
            </select>
        </div>
    </from>
    <br>
    <br>
    <br>
    <br>
    <table ng-repeat="(x,y) in myData" ng-if="x === 'data'">
        <tr ng-if="search != ''">
            <td>Drug Name: </td>
            <td>{{ y.display }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>Form: </td>
            <td>{{ y.form }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>Discount Coupons: </td>
            <td>{{ y.price_detail.pharmacy }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>Form: </td>
            <td>{{ y.form }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>GoodRX page URL: </td>
            <td><a href="{{ y.url }}" target="_blank">Click here</a></td>
        </tr>
        <tr ng-if="search != ''">
            <td>Brand: </td>
            <td>{{ y.brand }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>Dosage: </td>
            <td>{{ y.dosage }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>Generic: </td>
            <td>{{ y.generic }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>quantity: </td>
            <td>{{ y.quantity }}</td>
        </tr>
        <tr ng-if="search != ''">
            <td>Manufacturer: </td>
            <td>{{ y.manufacturer }}</td>
        </tr>
    </table>
    <div ng-if="candidates">
    <h1>List of Drugs</h1>
    <table ng-repeat="candidate in candidates">
       <td>{{candidate}}</td>

    </table>
    </div>
      <div ng-if="druginfo">
    <h1>Drug Information</h1>
    <table ng-repeat="info in druginfo">
    <td><a href="{{info}}" target="_blank" >{{info}}</a></td>

    </table>
    </div>
</center>
