<div class="input-group col-xs-6 col-xs-offset-4" ng-controller="SearchCtrl">
    <br>
    <br>
    <!--<span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>-->
    <form ng-submit="searchForDrug()">
        <input ng-model="SearchText" placeholder="Search drug prices" autocomplete="off" autosuggest="off" autocorrect="off">
        <input ng-click="searchForDrug()" type="submit" id="submit" value="Submit">
    </form>

</div>
