<!DOCTYPE html>
<html>

<head>
    <title>Pharmaplex</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="myApp">
    <div ng-include="'partials/navbar.html'"></div>
    <div ng-include="'partials/searchPage.html'"></div>
    <div ng-view></div>

   <table border=1>
        <tr><td>getDrugData: {{ getDrugData }}</td></tr>

        <tr ng-repeat="(x, y) in searchForDrug">
            <!--<td ng-if="x === x">-->
            <td>
                Data : {{ x }}
            </td>
            <!--</td>-->
        </tr>
        <tr><td>footer</td></tr>
    </table>

    <!-- third Party JS -->
    <script type="text/javascript" src="./lib/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./lib/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./lib/node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./lib/node_modules/firebase/firebase.js"></script>
    <script type="text/javascript" src="./lib/node_modules/jquery/dist/jquery.js"></script>
    <!--<script type="text/javascript" src="./app/hmac-sha256.js"></script>
    <script type="text/javascript" src="./app/enc-base64-min.js"></script>-->
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/value/fbcreds.js"></script>
    <script type="text/javascript" src="./app/factory/authFactory.js"></script>
    <script type="text/javascript" src="./app/factory/dataFactory.js"></script>
    <script type="text/javascript" src="./app/factory/searchFactory.js"></script>
    <script type="text/javascript" src="./app/controllers/authCtrl.js"></script>
    <script type="text/javascript" src="./app/controllers/myCtrl.js"></script>
    <script type="text/javascript" src="./app/controllers/profileFormCtrl.js"></script>
    <script type="text/javascript" src="./app/controllers/navCtrl.js"></script>
    <script type="text/javascript" src="./app/controllers/searchCtrl.js"></script>
    <!--<div ng-include="'partials/navbar.html'"></div>-->

</body>

</html>
